.historico-doacoes-container {
    display: flex;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.historico-doacoes-container h3 {
    color: var(--Azul);
    font-size: 24px;
    margin-right: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--Azul);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card .info-container {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
}

li {
    color: black;
    font-size: 18px;
    margin: 5px;
    text-align: justify;
}

.empresa-container {
    display: flex;
    gap: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.empresa-container p div ul {
    display: flex;
    width: 100%;
    height: 99px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 67px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Azul, rgba(82, 129, 228, 0.94));
    color: white;
}

.botao-historico {
    display: flex;
    width: 630px;
    height: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 67px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Azul, rgba(82, 129, 228, 0.94));

}

#forms-bg {
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:overlay;
}




