/* 
Aquivo css com os estilos da página "Página principal" (index.html)
Usar prefixo ind-landing-
*/
/****** configuração padrão do projeto*******/
:root {
    /* Cores */
    --amarelo: rgba(231, 182, 117, 1);
    --preto: rgba(0, 0, 0, 1);
    --azul: rgba(82, 129, 228, 0.94);
    --azulLight: rgba(82, 129, 228, 0.5);
    --branco: white;
    --brancoLight: rgba(238, 238, 238, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    }
/****** página index*******/

body {
    width: 100%;
}
.motivar, .conecta-todos, .ranking-contribuicao {    
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:multiply;
    background-position: center;
    background-size: 60rem;   
}

/***section motivar***/
.motivar {
    background-color: var(--amarelo);
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;    
    width: 100%; 
}

.motivar-texto {   
    margin-left: 12rem;
    margin-right: 12rem;
    padding-left: 10rem;        
    font-size: 1rem;
    font-weight: 700;    
}

 #lata-img{     
    height: 30vh; 
    display: flex;
    padding-left: 2.5rem;   
 }  

/******início carrosel*******

section .container-slide {    
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
}

.slider {    
    width: 400%;
    height: auto;
    display: flex;    
}

.slider {
    height:500px; 
    display:flex;       
}

.slider input {
    display: none;
}
 
.slide-box {    
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;   
}

.slide-box img {    
    width: 100%;       
}

.img-slide{
    width: 100%;
    height:100%;
    object-fit:cover;
  }

.manual-navigation {    
    position: absolute;
    width: 100%;   
    margin-top: 0;   
    display: flex;
    justify-content: center;
}

.manual-btn {   
    padding: 5px;
    margin-left: 7.px;
    margin-right: 7.5px;
    border-radius:50%;
    border: 5px solid var(--azul);
    cursor: pointer;
    transition: 5ms;    
}

.manual-btn:not(:last-child) {
    margin-right: 32px;
}

.manual-btn:hover {
    background-color: var(--azul);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

/**estilizar os botões***
.navigation-auto {
    position:absolute;
    width: 1000px;
    margin-top: 460px;   
    display: flex;
    justify-content: center;
}

.navigation-auto div { 
    border: 5px solid var(--preto);
    padding: 5px;
    border-radius: 20px; 
    cursor: pointer;
    transition: 5ms;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--amarelo);
}

#radio1:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--amarelo);
}

#radio1:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--amarelol);
}

#radio1:checked ~ .navigation-auto .auto-btn4 {
    background-color: var(--amarelo);
}

/***texto dentro do carrosel***
 .slide-box h2 {
    position: absolute;
    top: 60%;
    left: 10%;
    right: 10%;
    font-size: 2.8em;
    color:red;
    text-align: center;
    margin-right: 30px;
    text-shadow: 2px 2px var(--preto);
    font-weight: bold;
}*/
/*****section conecta todos os envolvidos na doação******/
.conecta-todos {
    margin-top: 20px;       
    text-align: center;
    
}

#que-fazer {   
    margin-top: 20px; 
    margin-bottom: 20px;
    background-color: var(--amarelo);  
}

.conectar-parceiros {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    background-color: var(--branco);
    margin-top: 10px; 
}

.hr {
    border-top: 2px solid var(--amarelo);
    border-bottom: 2px solid var(--amarelo);   
    width: 20rem;    
  }

  .colaborar-empresa {   
    border-bottom-right-radius: 75%;
    border-top-right-radius:75%;
    background-image: linear-gradient(to right,rgba(82, 129, 228, 0.74), rgba(236, 137, 207, 0.5));
    width: 1500px;
    height: 200px;    
  }

  .colaborar-rede {
    background-color: var(--branco);  
  }

  .colaborar-ong {
    border-bottom-left-radius: 75%;
    border-top-left-radius:75%;
    background-image: linear-gradient(to right, rgba(231, 182, 117, 1), rgba(236, 196, 137, 0.5));
    width: 1500px;
    height: 200px;
  }

 .quem-somos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 80px ;
    background-color: var(--branco);   
    text-align: center;
    font-size: 1rem;
    font-weight: 750;
    letter-spacing: 1px;
 }

 #logo-redeAlimenta {
    margin-top: 10px;      
 }
 

 #botton-login {       
    text-decoration: none;   
    padding: 3px 5px;
    border-radius: 8px;
    background: var(--amarelo);
    color: var(--branco);
    margin-top: 10px;   
    margin-right: 25px;   
 }
 #botton-login a:hover {
    color: var(--azul);
 }


/****conhecer mais sobre o projeto*****/

 #sobre-projeto {
    background-color: var(--amarelo);
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:overlay;
    background-position:right; 
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;   
}

.conhecer-projeto {   
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.img-fundo-legumes > img {
    width:100vw;
    height: 65vh;
    position: relative;    
    object-fit: cover;
    margin: 0;
}

.resultado-projeto {
    width: 100%;
    height:65vh;
    top: 5;
    left: 0;
    position: absolute;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x:auto;
}

.tabela-sobre-ajuda {
    border-radius: 10px;
    color: var(--amarelo);
    background-color:var(--branco);
    text-align: center;
    border: 0 none var(--branco);
    padding: 5px;
    margin: 0 20px;
    overflow-x:auto;
}

tbody .dados-ajuda {
    border-spacing: 0.7rem;
    width: 50%;
}

th, td {
    padding: 0 1.2rem;
}   

.botton-project {
    width: 100%;
    height: 100%;
    top: 5;
    left: 0;
    position: absolute;  
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    align-items:center;
    flex-direction: row;
}

 .botton-project a {
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 8px;
    background: var(--amarelo);
    color: var(--branco);   
    margin-right: 25px;    
}

.botton-project a:hover {
    color: var(--azul);
}

.ranking {
    display: flex;
    flex-direction:row;
    align-items:stretch;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

/****tabela empresa****/

.ranking-empresa {
    width: 100vw;
    height:60vh;    
    background-image: linear-gradient(to right, rgb(15, 83, 209), rgba(137, 157, 187, 0.5));  
}

.ranking-empresa .tabela-ranking-empresa {
    display: inline-table;
    border-color: transparent;
    line-height: 60px;   
    /*border: 0px;*/ 
    position: relative;
}

#a-empr, #b-empr, #c-empr {
    border: 2px solid var(--amarelo);
    border-radius: 30%;
    background-color: var(--brancoLight);
    color: var(--azul);
    font-style: italic;
    font-weight: bolder;
    font-size: 1rem;  
    
}

/***tabela ong***/

.ranking-ong .tabela-ranking-ong {
    display: inline-table;
    border-color: transparent;
    line-height: 60px;   
    top: 5%;
    /*border: 0px;*/ 
    
}

#a-ong, #b-ong, #c-ong {
    border: 2px solid var(--amarelo);
    border-radius: 30%;
    background-color: azure;
    color: var(--azul);
    font-style: italic;
    font-weight: bolder;
    font-size: 1rem;  
    
}
.ranking-ong { 
    width: 100vw; 
    height:60vh;     
    background-image: linear-gradient(to left, rgb(15, 83, 209), rgba(137, 157, 187, 0.5));    
}

.img-fundo-sacola > img {
    width:15vw;
    height:60vh;
    position: relative;    
    object-fit: cover;    
    margin: 0;
    padding: 0;   
}

.ranking-empresa {   
    color: var(--branco);
    text-align: center;
      
}

.ranking-ong {   
    color: var(--branco);
    text-align: center;  
}

tbody .dados-ajuda {
    border-spacing: 0.7rem;
    width: 100%;
}

th, td {
    padding: 0 1.2rem;
}

th {
    font-size: 2rem;
    font-weight: bold;
}

.tabela-ranking-empresa  {   
    color: var(--branco);   
    text-align: center;   
    margin: 50px;
    
}




/* Slideshow container */
.slideshow-container {
  width:50vw;  
  position: relative;  
  margin: 0 auto;
  object-fit: contain;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1200px) {
    .info-banner, .leftRightPadding, .info-banner-bg {
        padding: 0vw 1vw;
        text-align: center;
    }
    .motivar, .conecta-todos {       
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0vw 1vw; 
        margin: 0;         
}
    
/**#header-RedeAlimenta {
    display: flex;
    font-size: 4rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}**/
    .conecta-todos{
       display: none;
}

}