/* Seção de definições globais */
:root {
    /* Cores */
    --amarelo: rgba(231, 182, 117, 1);
    --preto: rgba(0, 0, 0, 1);
    --azul: rgba(82, 129, 228, 0.94);
    --azulLight: rgba(82, 129, 228, 0.5);
    --brancoLight: rgba(255, 255, 255, 0.58);
}

@font-face {
    font-family: Kadwa;
    src: url(../fonts/Kadwa/Kadwa-Regular.ttf);
}

body {
    font-family: Kadwa;
    word-wrap: break-word;
    margin: 0;
}



/* header */
header {
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}


header #logo {
    height: 200px;
    margin: 20px;
}

header #projeto-descricao {
    height: 200px;
    margin: 20px;
}

#projeto-cabecalho-um {
    font-size: 2.0em;
}

#projeto-cabecalho-dois {
    font-size: 3.0em;
}

#projeto-cabecalho-tres {
  font-size: 1.3em;
}


/* container */
.container {
    width: 60%;
    margin: 0 auto;
}

.container-head {
    word-wrap: break-word
}

.container-head-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 123.15px;
    letter-spacing: 13px;

}

.container-head-subtitle {   
    font-size: 2.0em;
    font-weight: 400;
    letter-spacing: 1.20px;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
    background: rgba(81.86, 128.87, 228.44, 0.94);
}



/* form */
/* .flex-outer {

} */

.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container form {
    border: #ccc solid 1px;
    border-radius: 5px;
    padding-bottom: 15px;
}

.container form .first-section {
    margin-top: -12px;
}

.w10 {
    width: 10%;
}

.w18 {
    width: 18.5%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w80 {
    width: 80%;
}

.w81 {
    width: 81.5%;
}



input[type=text] {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

input[type=email] {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

select {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

button.primario {
    font-size: 1em;
    font-weight: 500;
    margin: 0 5px;
    padding: 12px 20px;
    border-radius: 8px;
    background: #E7B675;
    color: white;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.titulo-cadastro-um {
    padding: 0.5em;
    margin: 0.5em 0em;
    background: #E7B675;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1.30px;
    border-radius: 5px;
}

.titulo-cadastro-dois {
    padding: 0.5em;
    margin: 0.5em 0em;
    background: rgba(81.86, 128.87, 228.44, 0.94);
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1.30px;
    border-radius: 5px;
}

.informacao-extra {
    background: rgba(81.86, 128.87, 228.44, 0.94);
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    padding: 0.8em;
    margin: 10px;
    border-radius: 8px;
}


/* footer */
footer {
  margin-top: 20px;
  padding: 8px 15px;
  background: #E7B675;
  display: grid;
  justify-content: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}


footer .img-networks {
    width: 38px;
    height: 38px;
    margin-left: 15%;
}

footer #about-us-detail {
    font-size: 0.7em;
}

