/* 
Aquivo css com os estilos da página globais
Não usar prefixos
*/

/* Seção de definições globais */
:root {
    /* Cores */
    --amarelo: rgba(231, 182, 117, 1);
    --amareloForte: rgb(230, 144, 33);
    --preto: rgba(0, 0, 0, 1);
    --azul: rgba(82, 129, 228, 0.94);
    --azulLight: rgba(82, 129, 228, 0.5);
    --branco: white;
    --brancoLight: rgba(238, 238, 238, 1);
}
/* Definição das fontes */


@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
}

@font-face {
    font-family: Kadwa;
    src: url(../fonts/Kadwa/Kadwa-Regular.ttf);
}

@font-face {
    font-family: Kadwa-bold;
    src: url(../fonts/Kadwa/Kadwa-Bold.ttf);
}
/* Seletor universal para aplicar fonte */
html *
{
   font-family: Kadwa, Roboto, sans-serif;
}
/* Definição de tamanhos padrões de fonte */

h1 {
    color: var(--preto); 
    font-size: 4rem; /*64px;*/
    font-family: Kadwa-bold;
    font-weight: 700;
}

h2 {
    color: var(--preto); 
    font-size: 2.5rem; /*40px;*/
    font-family: Kadwa-bold;
    font-weight: 700;
    letter-spacing: 1.2px;
}

h3 {
    color: var(--preto); 
    font-size: 1.5rem; /*24px;*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.texto {
    color: var(--preto);
    font-size: 1rem; /* 16px;  */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: var(--preto); 
    font-size: 1rem; /* 16px;  */
    font-family: Kadwa-bold;
}

.hover-button:hover {
    color: var(--amareloForte);
    border-color: var(--amareloForte);

}

body {
    /* Manter porcentagem para não extender a página lateralmente */
    width: 100%;
    margin: unset;   
}


/* Imagem de fundo */

#bg {
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:overlay;
}

/* Seção header */
#new-logo {
    height: 84px;
    margin: 10px 0px;
}

.menu-botoes-nav {
    align-items: center; 
    gap: 60px; 
    display: inline-flex;
}

.text-button {
    color: var(--amarelo); 
    font-size: 1.5rem; /*24px;*/
    font-family: Kadwa-bold ;
}

.border-button {
    width: 98px;
    padding: 4px 2px 4px 2px;
    border-radius: 3px; 
    border: 2px var(--amarelo) solid;
    justify-content: center; 
    align-items: center; 
    display:flex;
}

.header-text {
    color: var(--preto);
    font-family: Kadwa-bold ;
    font-size: 6rem; /*96px;*/
    line-height: 128.284%; /* 123.153px */
    letter-spacing: 13.44px;
}

.info-banner {
    display: flex;
    align-items: center;
    height: 108px;
    margin-bottom: 45px;
    color: var(--branco); 
    /* h2 style from main.css */
    font-size: 2.5rem; /*40px;*/
    font-family: Kadwa-bold;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.info-banner-bg {
    background-blend-mode: overlay;
    background: var(--azul);
}
/* Fim seção header */

header>div {
    display: flex;
    justify-content: space-between;
}

nav a {
    color:unset;
    text-decoration: unset;
}

#header-RedeAlimenta {
    height: 122px; 
    left: 320px; 
    top: 0px; 
    color: var(--preto); 
    word-wrap: break-word;
}

#header-banner {
    width: 100%; 
    height: 180px; 
    background: var(--azul);
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:overlay;    
}

#header-banner-texto {
    padding: 50px 0px 0px 10px;
    color: var(--branco); 
    word-wrap: break-word;
    text-align:center;    
} 


header #projeto-descricao {
    height: 200px;
    margin: 20px;
}

/* container */
.container {
    width: 60%;
    margin: 0 auto;
}

.container-head {
    word-wrap: break-word
}

.container-head-subtitle {   
    display: flex;
    align-items: center;
    height: 110px;
    margin-bottom: 5px;
    background: var(--azul);
    color: var(--branco); 
    /* h2 style from main.css */
    font-size: 2.5rem; /*40px;*/
    font-family: Kadwa-bold;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.leftRightPadding {
    padding: 0vw 20vw;
}


.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

input[type=email] {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

input[type=number] {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

select {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

button.primario {
    border: none;
    margin: 0 5px;
    padding: 12px 20px;
    border-radius: 15px;
    background: var(--amarelo);
    color: var(--branco);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

button.desativado {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0.58) 100%), var(--Amarelo, #E7B675);
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.titulo-cadastro-um {
    padding: 0.5em;
    margin: 0.5em 0em;
    background: var(--amarelo);
    color: var(--branco);
    border-radius: 5px;
}

.titulo-cadastro-dois {
    padding: 0.5em;
    margin: 0.5em 0em;
    background: var(--azul);
    color: var(--branco);
    border-radius: 5px;
}

.informacao-extra {
    background: var(--azul);
    color: var(--branco);
    text-align: justify;
    padding: 0.8em;
    margin: 10px;
    border-radius: 8px;
}


/* footer */
footer {
  margin-top: 20px;
  padding: 8px 15px;
  background: var(--amarelo);
  display: grid;
  justify-content: center;
}

footer p {
    margin: 0;
}


footer .img-networks {
    width: 38px;
    height: 38px;
    margin-left: 15%;
}

#bg {
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:overlay;
} 