/* Seção de definições globais */
:root {
    /* Cores */
    --amarelo: rgba(231, 182, 117, 1);
    --preto: rgba(0, 0, 0, 1);
    --azul: rgba(82, 129, 228, 0.94);
    --azulLight: rgba(82, 129, 228, 0.5);
    --branco: white;
    --brancoLight: rgba(238, 238, 238, 1);
}
/* Definição das fontes */
@font-face {
    font-family: Kadwa;
    src: url(../fonts/Kadwa/Kadwa-Regular.ttf);
}

@font-face {
    font-family: Kadwa-bold;
    src: url(../fonts/Kadwa/Kadwa-Bold.ttf);
}
/* Seletor universal para aplicar fonte */
html *
{
   font-family: Kadwa !important;
}
/* Definição de tamanhos padrões de fonte */
.header-text {
    color: var(--preto);
    font-family: Kadwa-bold !important;
    font-size: 96px;
    line-height: 128.284%; /* 123.153px */
    letter-spacing: 13.44px;
}

h1 {
    color: var(--preto); 
    font-size: 64px !important; 
    font-family: Kadwa-bold !important;
    font-weight: 700 !important;
}

h2 {
    color: var(--preto); 
    font-size: 40px !important; 
    font-family: Kadwa-bold !important;
    font-weight: 700 !important;
    letter-spacing: 1.2px !important;
}

h3 {
    color: var(--preto); 
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}
.texto {
    color: var(--preto);
    font-size: 16px !important; 
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

a {
    color: var(--preto); 
    font-size: 16px !important; 
    font-family: Kadwa-bold !important;
}

.text-botao {
    color: var(--amarelo); 
    font-size: 24px !important; 
    font-family: Kadwa-bold !important;
}

.borda-botao {
    width: 98px;
    padding: 4px 2px 4px 2px;
    border-radius: 3px; 
    border: 2px var(--amarelo) solid;
    justify-content: center; 
    align-items: center; 
    display:flex;
}

body {
    word-wrap: break-word;
    margin: 0;
}



/* header */
#header-RedeAlimenta {
    padding-left: 10%;
    height: 122.57px; 
    left: 320px; 
    top: 0px; 
    color: var(--preto); 
    word-wrap: break-word;
}

#header-banner {
    width: 100%; 
    height: 180px; 
    background: var(--azul);
}

#header-banner-texto {
    padding: 50px 0px 0px 10px;
    color: var(--branco); 
    word-wrap: break-word;
}

header {
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}


#new-logo {
    height: 84px;
    margin: 10px 0px;
}

header #projeto-descricao {
    height: 200px;
    margin: 20px;
}

#projeto-cabecalho-um {
    font-size: 2.0em;
}

#projeto-cabecalho-dois {
    font-size: 3.0em;
}

#projeto-cabecalho-tres {
  font-size: 1.3em;
}


/* container */
.container {
    width: 60%;
    margin: 0 auto;
}

.container-head {
    word-wrap: break-word
}

.container-head-subtitle {   
    padding: 0.5em;
    border-radius: 5px;
    color: var(--branco) !important;
    background-color: var(--azul);
}

.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

input[type=email] {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

select {
    padding: 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.0px solid;
    border-radius: 5px;
}

button.primario {
    margin: 0 5px;
    padding: 12px 20px;
    border-radius: 8px;
    background: var(--amarelo);
    color: var(--branco);
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.titulo-cadastro-um {
    padding: 0.5em;
    margin: 0.5em 0em;
    background: var(--amarelo);
    color: var(--branco);
    border-radius: 5px;
}

.titulo-cadastro-dois {
    padding: 0.5em;
    margin: 0.5em 0em;
    background: var(--azul);
    color: var(--branco);
    border-radius: 5px;
}

.informacao-extra {
    background: var(--azul);
    color: var(--branco);
    text-align: justify;
    padding: 0.8em;
    margin: 10px;
    border-radius: 8px;
}


/* footer */
footer {
  margin-top: 20px;
  padding: 8px 15px;
  background: var(--amarelo);
  display: grid;
  justify-content: center;
}

footer p {
    margin: 0;
}


footer .img-networks {
    width: 38px;
    height: 38px;
    margin-left: 15%;
}

.menu-botoes-nav {
    align-items: center; 
    gap: 60px; 
    display: inline-flex;
}