/* 
Aquivo css com os estilos da página "ONG" (ONG-coletas-abertas.html e ONG-historico)
Usar prefixo ong-
*/

.ong-main-header {
    display: flex;
    align-items: center;
    height: 108px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: var(--amarelo);
    color: var(--branco); 
    /* h2 style from main.css */
    font-size: 40px; 
    font-family: Kadwa-bold;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.ong-informacoes {
    color: var(--branco);
    text-align: justify;
    padding: 0.8em;
    margin: 10px;
    border-radius: 8px;
    flex-direction: column;
    /* padding-right: 10%; */
    flex: 1;
    max-width: 450px;
}

.ong-bg-blue {
    background: var(--azul);
    mix-blend-mode: overlay;
}

.ong-bg-amarelo {
    background: var(--amarelo);
    mix-blend-mode: overlay;
}

form input {
    flex-grow: 1;
}

form select {
    flex-grow: 1;
}

form text {
    flex-grow: 1;
}
form div {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    /* margin: 0px 10px;
    padding-left: 20vw;
    padding-right: 20vw; */
}

.ong-flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* width: 90vw; */
}

.ong-lines {
    border-bottom: 4px solid var(--azul);
    border-top: 4px solid var(--azul);
}

.ong-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

input[type=text] {
    padding: 17px 0px;
    display: flex;
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid var(--Amarelo, #E7B675);
    background: var(--Branco, #FFF);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

p {
    margin: unset;
}

/* Aquivo css com os estilos da página "Histórico ONG" (ONG-historico.html) */


/* Estilização do subtitulo */

.titulo-ONG-historico {
    display: flex;
    gap: 10px;
    background: var(--Amarelo, #E7B675);
}
h2 {
    color: white;
}
.ONG-historico{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 30px;
}
.nome-ONG {
    margin-right: 50px;
    width: 150px; 
    word-wrap: break-word;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.card-ONG-historico {
    display: flex;
    width: 630px;
    height: 130px;
    padding: 10px 0 25px 0;
    justify-content: center;
    align-items: center;
    gap: 67px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Azul, rgba(82, 129, 228, 0.94));

}

.detalhes-entrega {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    gap: 10px;
}

.lista-entrega {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 18px;
    gap: 5px;
    list-style-type: circle;
}

.nome-ONG{
    margin-right: 50px;
}

.ONG-botao-historico {
    display: flex;
    width: 630px;
    height: 70px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 67px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.card-button {
    color: white;
    font-size: 18px;
    border: none;
    background: var(--Azul, rgba(82, 129, 228, 0.94));
    padding: 15px 30px;
    padding: 0;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 35px;

}

.proj-info-leftRightPadding {
    display: flex;
    padding-left: 320px;
}

#forms-bg {
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:overlay;
}