/* 
Aquivo css com os estilos da página "Como o projeto funciona" (proj-info.html)
Usar prefixo proj-info-
*/

/* Tags */

header {
    display: flex;
    flex-direction: column;
}


header>div {
    display: flex;
    justify-content: space-between;
}

nav a {
    color:unset;
    text-decoration: unset;
}

main {
    display: flex;
    flex-direction: column;
}

/* Classes */

.proj-info-leftRightPadding {
    padding: 0vw 20vw;
}

@media (max-width: 1200px) {
    .proj-info-leftRightPadding {
        padding: 0vw 1vw;
    }
}

.proj-info-colapsaveis {
    border-top: 2px solid var(--azul);
    border-bottom: none;
    background-color: var(--branco);
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;
    /* border: none; */
    text-align: left;
    /* h3 style from main.css */
    color: var(--preto); 
    font-size: 1.5rem; /*24px;*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ativo, .proj-info-colapsaveis:hover {
    background-color: var(--brancoLight);
}

.ativo {
    border-bottom: unset;
}

.proj-info-colapsaveis:after {
    content: url(/assets/img/select-arrow.svg);
    transform: rotate(270deg);
    float: left;
}

.ativo:after {
    transform: rotate(0deg);
}

.proj-info-conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: var(--preto);
    background-color: white;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--azul);
}

/* Id */

/* Substituído classe definida no main.css  */
#header-banner {
    width: unset;
}