/* Aquivo css com os estilos da página "Como o projeto funciona" (proj_info.html) */

/* Tags */

body {
    width: 100vw;
}

nav a {
    color:unset;
    text-decoration: unset;
}

header {
    display: flex;
    flex-direction: column;
}

header>div {
    display: flex;
    justify-content: space-between;
    margin: 0 7vw;
}

/* Classes */
.proj-info-caixa-externa {
    width: 100vw;
    border-top: 1px var(--azul) solid;
    border-bottom: 1px var(--azul) solid;
}

.proj-info-conteudo {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: var(--preto);
}

.proj-info-leftRightPadding {
    padding: 0vw 20vw;
}

@media (max-width: 1200px) {
    .proj-info-leftRightPadding {
        padding: 0vw 1vw;
    }
}

.proj-info-topMargin {
    margin-top: 25px;
}

/* Colapsáveis */
.proj-info-colapsaveis {
    background-color: var(--branco);
    cursor: pointer;
    padding: 16px;
    width: 100vw;
    border: none;
    text-align: left;
}

.ativo, .proj-info-colapsaveis:hover {
    background-color: var(--brancoLight);
}

.proj-info-colapsaveis:depois {
    content: url(/assets/img/selectarrow.svg);
    transform: rotate(270deg);
    float: right;
    align-content: center;
}

/* Id */

#proj-info-bg {
    background-image: url('/assets/img/forms_bg.svg');
    background-blend-mode:overlay;
}

/* Substituído classe definida no main.css  */
#header-banner {
    width: unset;
}