/* CSS da página "Como o projeto funciona"*/

/* Tags */
nav a {
    color:unset;
    text-decoration: unset;
}

/* Classes */
.caixa-externa {
    width: 100vw;
    border-top: 1px var(--azul) solid;
    border-bottom: 1px var(--azul) solid;
}

.conteudo {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: var(--preto);
}

.nav-header {
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
}

@media (max-width: 1200px) {
    .nav-header {
        padding: 0 1vw
    }
}

.menu-botoes-nav {
    justify-content: flex-end; 
    align-items: center; 
    gap: 60px; 
    display: inline-flex;
}

.estilo-botao {
    text-align: center; 
    word-wrap: break-word;
}

.borda-botao {
    width: 98px;
    padding: 4px 2px 4px 2px;
    border-radius: 3px; 
    border: 2px var(--amarelo) solid;
    justify-content: center; 
    align-items: center; 
    display:flex;
}

.proj-info-leftRightPadding {
    padding: 0vw 20vw;
}

@media (max-width: 1200px) {
    .proj-info-leftRightPadding {
        padding: 0vw 1vw;
    }
}

.proj-info-topMargin {
    margin-top: 25px;
}

/* Colapsáveis */
.colapsaveis {
    background-color: var(--branco);
    cursor: pointer;
    padding: 16px;
    width: 100vw;
    border: none;
    text-align: left;
}

.ativo, .colapsaveis:hover {
    background-color: var(--brancoLight);
}

.colapsaveis:depois {
    content: url(/assets/img/selectarrow.svg);
    transform: rotate(270deg);
    float: right;
    align-content: center;
}

.ativo:depois {
    transform: rotate(0deg);
}

/* Id */
#new-logo {
    height: 84px;
    margin: 10px 0px;
}

/* Substituído classe definida no main.css  */
#header-banner {
    width: unset;
}