/* Aquivo css com os estilos da página "Como o projeto funciona" (proj_info.html) */

/* Estilos de texto para as caixas colapsaveis */
.h3 {
    color: black; 
    font-size: 1.5rem; /*24px*/; 
    font-family: Kadwa; 
    font-weight: 400; 
}

.text {
    color: black; 
    font-size: 1rem; /*16px*/; 
    font-family: Kadwa; 
    font-weight: 400; 
}

/* Espaçamento entre as caixas de texto colapsaveis. Evitar colocar para zero pois a linha interna se sobrepõe dando a impressão que ela é diferente das outras da borda */
.divisor_entre_caixas {
    height: 1rem; /*16px*/;
}

/* Estilo da parte externa da caixa colapsavel. Adiciona a linha na parte de cima e de baixo com o tamanho da tela toda. */
.caixa_externa {
    width: 100%;
    height: 100%;
    border-top: 1px rgba(81.86, 128.87, 228.44, 0.94) solid;
    border-bottom: 1px rgba(81.86, 128.87, 228.44, 0.94) solid;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    display: inline-flex;
}

/* Estilo da parte interna da caixa colapsavel que funciona como um botão para abrir e fechar a caixa de texto */
.colapsaveis {
    background-color: #ffffff;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
}

/* Adiciona uma animação que muda a cor de fundo quando o mouse por cima ou o botão é clicado*/
.ativo, .colapsaveis:hover {
    background-color: #eee;
}

/* Estilo da caixa de texto interna. Defini elementos da animação */
.conteudo {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: black;
}

/*  */
.colapsaveis:depois {
    content: url(/assets/img/selectarrow.svg);
    transform: rotate(270deg);
    float: right;
    align-content: center;
}

/*  */
.ativo:depois {
    transform: rotate(0deg);
}

.text_botao {
    color: #E7B675; 
    font-size: 1.5rem; /*24px*/
    font-family: Kadwa; 
    font-weight: 700;
}

.navHeader {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuBotoesNav {
    padding-right: 15px; 
    top: 0px; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 60px; 
    display: inline-flex;
}

.estiloBotao {
    text-align: center; 
    word-wrap: break-word;
}

.bordaBotao {
    width: 98px;
    padding: 4px 2px 4px 2px;
    border-radius: 3px; 
    border: 2px #E7B675 solid;
    justify-content: center; 
    align-items: center; 
    display:flex;
}

#new_logo {
    height: 84px;
    margin: 10px;

}

nav a {
    color:unset;
    text-decoration: unset;
}

nav a:hover {
    color: #e68609;
}

#header-RedeAlimenta {
    /* position: relative;  */
    padding-left: 10%;
    width: 838px; 
    height: 122.57px; 
    left: 320px; 
    top: 0px; 
    color: black; 
    font-size: 6rem; /*96px*/
    font-family: Kadwa; 
    font-weight: 700; 
    line-height: 123.15px; 
    letter-spacing: 13.44px; 
    word-wrap: break-word;
}

#header-banner {
    width: 100%; 
    height: 180px; 
    background: rgba(81.86, 128.87, 228.44, 0.94);
}

#header-banner-texto {
    padding: 50px 0px 0px 10px;
    color: rgb(255, 255, 255); 
    font-size: 2.5rem; /*40px*/
    font-family: Kadwa; 
    font-weight: 700; 
    letter-spacing: 1.20px; 
    word-wrap: break-word;
}